body {
  margin: 0 auto;
  background: linear-gradient(
    rgb(252, 246, 243),
    rgb(252, 246, 243),
    rgb(230, 184, 156, 0.75)
  );
  box-sizing: border-box;
  color: rgb(133, 133, 133);
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: rgb(133, 133, 133);
}

a:hover {
  color: rgb(50, 83, 61);
  border-bottom: solid 2px rgb(237, 147, 144);
  cursor: pointer;
}

.page-heading {
  font-family: Sansita, sans-serif;
  font-weight: 300;
}
