body {
  margin: 0 auto;
  background: linear-gradient(
      rgb(252, 246, 243),
      rgb(252, 246, 243),
      rgb(230, 184, 156, 0.75)
    )
    no-repeat fixed;
  box-sizing: border-box;
  color: rgb(133, 133, 133);
  letter-spacing: 0.1rem;
  font-family: Ruluko, sans-serif;
}

.page {
  margin: auto;
  max-width: 1280px;
  padding: 0 1rem;
}

.content-container {
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(230, 184, 156);
  box-shadow: rgb(230, 184, 156, 0.5) 5px 5px 5px;
  border-radius: 5px;
  min-width: 330px;
  max-width: 700px;
  min-height: 300px;
}

span.pink {
  color: rgb(243, 116, 174);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: rgb(133, 133, 133);
}

a:hover {
  color: rgb(50, 83, 61);
  cursor: pointer;
  font-weight: 600;
}

nav > a:hover,
li > a:hover,
a > p:hover {
  border-bottom: solid 3px rgb(237, 147, 144);
}

.page-heading {
  font-family: Sansita, sans-serif;
  font-weight: 300;
}

.page-title {
  font-family: Sansita, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: rgb(50, 83, 61);
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

button {
  border-radius: 3px;
  padding: 0.3rem 2.3rem;
  font-family: Sansita, sans-serif;
  font-size: 1.4rem;
  color: rgb(243, 116, 174);
  background-color: rgb(252, 246, 243);
  border: solid 2px rgb(237, 147, 144);
  -webkit-text-stroke: 1px rgb(50, 83, 61);
  transition: font-size 0.1s 0.1s;
  margin: 1rem;
}

button:hover,
button.x-button:hover {
  border: rgb(50, 83, 61) 2.5px solid;
  font-size: 1.5rem;
  color: rgb(216, 207, 175);
  background-color: rgb(243, 116, 174);
  cursor: pointer;
}

span.heart-outline {
  position: absolute;
  right: 0;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 0.4rem;
}

span.heart-outline:hover {
  cursor: pointer;
}

.checkbox {
  accent-color: rgb(237, 147, 144);
}

.checkbox-label:hover .checkbox {
  cursor: pointer;
}

@media screen and (width < 768px) {
  .page {
    margin: auto;
  }

  .content-container {
    padding: 0.5rem;
  }
}

@media screen and (width >= 768px) {
  .page {
    margin: 0.5rem auto;
  }

  .content-container {
    margin: 0 auto;
    padding: 1rem;
  }
}

@media screen and (width >= 992px) {
  .page {
    margin: 1rem auto;
  }

  .content-container {
    padding: 2rem;
  }
}

@media screen and (width >= 1200px) {
  .page {
    max-width: 1280px;
  }

  .content-container {
    padding: 3rem;
  }
}
