.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 0.6rem;
  border-bottom: solid 1px rgb(230, 184, 156);
}

.logo {
  width: 11rem;
}

#logo {
  width: 100%;
  display: flex;
  align-items: center;
}

a.link-logo {
  border-bottom: none;
}

ul.nav-links {
  font-family: Ruluko, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  width: 12rem;
  min-width: 130px;
  padding-inline-start: 0;
  list-style-type: none;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 3rem;
  height: 4rem;
}

.nav-buttons {
  flex-basis: 50%;
}

.nav3buttons > ul {
  display: flex;
  margin: 3.2rem 0;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

.nav3buttons > ul > li {
  padding: 0 1rem;
  min-width: fit-content;
}

@media screen and (width < 768px) {
  .sub-header {
    margin: 1rem;
    flex-direction: column;
  }

  .nav3buttons > ul {
    justify-content: space-around;
    margin: 1.2rem 0;
  }

  .nav3buttons > ul > li {
    padding: 0 0.5rem;
  }
}

@media screen and (width >= 768px) {
  .sub-header {
    margin: 0 2rem;
  }
}
